<footer>
  <div class="topFooter">
    <p>Sdílejte tento projekt a<br><a href="https://instagram.com/najdimazlicka">#zachranteKamarada</a></p>
    <div class="social">
      <a href="https://instagram.com/najdimazlicka">
        <img src="/assets/img/ig-min.png" alt="Instagram Najdi Mazlíčka">
      </a>
      <a href="https://www.facebook.com/najdimazlicka.cz">
        <img src="/assets/img/fb-min.png" alt="Facebook Najdi Mazlíčka">
      </a>
      <a href="https://www.youtube.com/channel/UCTWLg7f9lhBFGqO8i1rkt5Q">
        <img src="/assets/img/yt-min.png" alt="Youtube Najdi Mazlíčka">
      </a>
    </div>
  </div>

  <div class="botFooter">
    <span>Copyright © 2019 PalmMedia s.r.o.</span>
    <a title="Domovská stránka" href="/">Domovská stránka</a>
    <a title="Registrovat ztrátu" href="/registrovatztratu">Registrovat ztrátu</a>
    <a title="O nás" href="/onas">O nás</a>
    <a title="Jak to funguje?" href="/jaktofunguje">Jak to funguje?</a>
    <a title="Hlavní výhody" href="/procreklamy">Hlavní výhody</a>
    <a title="Příběhy ostatních" href="/pribehyostatnich">Příběhy ostatních</a>
    <br>
    <a title="Garance výkonu" href="/garance">Garance výkonu</a>
    <a title="Všeobecné obchodní podmínky" href="/vseobecne_obchodni_podminky">Všeobecné obchodní podmínky</a>
    <a title="Podmínky ochrany osobních údajů" href="/zpracovani_osobnich_udaju">Podmínky ochrany osobních údajů</a>
    <a title="E-mail na nás" href="mailto:jiri@palmmedia.cz">Kontakt: jiri@palmmedia.cz</a>
    <br>
    <a title="5 věcí, které je třeba udělat, když se Vám ztratí pes" href="https://medium.com/@najdimazlicka/5-věc%C3%AD-které-je-třeba-udělat-když-se-vám-ztrat%C3%AD-pes-58cb96b48775">Co dělat, když se Vám ztratí pes</a>
    <a title="5 věcí, které je třeba udělat, když se Vám ztratí kočka" href="https://medium.com/@najdimazlicka/5-věc%C3%AD-které-je-třeba-udělat-když-se-vám-ztrat%C3%AD-kočka-75aaeb47d004">Co dělat, když se Vám ztratí kočka</a>

    <div class="karty">
      <img src="/assets/img/karty1-min.png" alt="platba kartou">
      <img src="/assets/img/karty2-min.png" alt="platba kartou">
      <img src="/assets/img/karty3-min.png" alt="platba kartou">
      <img src="/assets/img/karty4-min.png" alt="platba kartou">
      <img src="/assets/img/karty5-min.png" alt="platba kartou">
      <img src="/assets/img/karty6-min.png" alt="platba kartou">
      <img src="/assets/img/karty7-min.png" alt="platba kartou">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/assets/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/app.js?a=7"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.0.0-alpha/quicklink.umd.js"></script>
  <script>
  window.addEventListener('load', () => {
    quicklink.listen();
  });
  </script>
</footer>
