<div class="mobilniMenuNabidka">
  <a class="logo" href="/">
    <img src="/assets/img/logo-min.png" alt="Logo Najdi Mazlíčka">
  </a>
  <a class="mobilniMenuZavrit">
    <img src="/assets/img/skrt-min.png" alt="Odejít">
  </a>
  <nav>
    <ul>
      <li>
        <a href="/jaktofunguje">Jak to funguje?</a>
      </li>
      <li>
        <a href="/onas">O nás</a>
      </li>
      <li>
        <a title="Šťastné konce" href="/#reference">Šťastné konce</a>
      </li>
      <li>
        <a href="/registrovatztratu">Registrovat ztrátu</a>
      </li>
      <li>
        <a href="https://instagram.com/najdimazlicka">
          <img src="/assets/img/ig-min.png" alt="Instagram Najdi Mazlíčka">
        </a>
        <a href="https://www.facebook.com/najdimazlicka.cz">
          <img src="/assets/img/fb-min.png" alt="Facebook Najdi Mazlíčka">
        </a>
        <a href="https://www.youtube.com/channel/UCTWLg7f9lhBFGqO8i1rkt5Q">
          <img src="/assets/img/yt-min.png" alt="Youtube Najdi Mazlíčka">
        </a>
      </li>
      <li class="telefon">
        <img src="/assets/img/telefon-min.png" alt="ikona telefon">
        <a href="tel:00420732400851">+420 732 400 851</a>
      </li>
    </ul>
  </nav>
</div>

<header>
  <div class="announcement">
    <p>📢 Překonali jsme hranici 500tis. oslovených lidí! 📢</p>
  </div>
  <div class="spodniHeader">
    <a class="logo" href="/">
      <img src="/assets/img/logo-min.png" alt="Logo Najdi Mazlíčka">
    </a>

    <a class="mobilniMenu">
      <img src="/assets/img/menu-min.png" alt="Menu">
    </a>

    <div class="desktopMenu">
      <nav>
        <ul>
          <li>
            <a href="/jaktofunguje">Jak to funguje?</a>
          </li>
          <li>
            <a href="/onas">O nás</a>
          </li>
          <li>
            <a href="/registrovatztratu">Registrovat ztrátu</a>
          </li>
          <li class="telefon">
            <img src="/assets/img/telefon-min.png" alt="ikona telefon">
            <a href="tel:00420732400851">+420 732 400 851</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
