<div class="mobilniMenuNabidka">
  <nav>
    <ul>
      <li>
        <a href="/jaktofunguje">Jak to funguje?</a>
      </li>
      <li>
        <a href="/onas">O nás</a>
      </li>
      <li>
        <a href="/registrovatztratu">Registrovat ztrátu</a>
      </li>
    </ul>
    <a class="telefon" href="tel:00420605176305">+420 605 176 305</a>
  </nav>
</div>

<header>
  <div class="announcement">
    <p>📢 Právě jsme překonali hranici 500tis. oslovených lidí! 📢</p>
  </div>
  <div class="spodniHeader">
    <a class="logo" href="/">
      <img src="assets/img/logo.png" alt="Logo Najdi Mazlíčka">
    </a>

    <a class="mobilniMenu">
      <img src="assets/img/menu.png" alt="Menu">
    </a>

    <div class="desktopMenu">
      <nav>
        <ul>
          <li>
            <a href="/jaktofunguje">Jak to funguje?</a>
          </li>
          <li>
            <a href="/onas">O nás</a>
          </li>
          <li>
            <a href="/registrovatztratu">Registrovat ztrátu</a>
          </li>
          <li class="telefon">
            <a href="tel:00420605176305">+420 605 176 305</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
