<section class="triDuvody">
  <h2><span>3 důvody</span> proč pátrat s námi:</h2>
  <h3>(a v čem je háček)</h3>
  <ul>
    <li>
      <img class="zacatek1" src="/assets/img/zacatek1-min.png" alt="Ilustrace">
      <p>S naší pomocí oslovíte mnohonásobně více lidí, než kdybyste pátrali sami.</p>
      <a href="/procreklamy">Hlavní výhody našich reklam</a>
    </li>
    <li>
      <img class="zacatek2" src="/assets/img/zacatek2-min.png" alt="Ilustrace">
      <p>Máme vysokou úspěšnost při hledání. Denně pomáháme lidem jako jste Vy.</p>
      <a href="/pribehyostatnich">Reference</a>
    </li>
    <li>
      <img class="zacatek3" src="/assets/img/zacatek3-min.png" alt="Ilustrace">
      <p>Registrace Vám zabere jen pár minut. O vše ostatní se postaráme my.</p>
      <a href="/jaktofunguje">Jak to přesně funguje?</a>
    </li>
  </ul>
  <div class="sipka"></div>
  <div class="hacek">
    <h2>V čem je háček?</h2>
    <p>Naše služba je placená. K pátrání totiž využíváme speciální nástroje <a href="/jaktofunguje">(jaké?)</a>, které samy o sobě něco stojí.<br><br>Vybrat si můžete ze 3 různých cenových balíčků podle svých možností.</p>
    <a class="registrovatZtratu" href="/registrovatztratu"><span>Ceník</span></a>
  </div>
</section>


<section class="faq faqNavic">
  <ul class="otazky">
    <li class="otazka zavreno">
      <h3>Co si mám představit pod "pátrací reklamou"?</h3>
      <p>Na první pohled klasický příspěvek na Facebooku nebo Instagramu, zobrazí se ale všem lidem v námi vybrané lokalitě. Uživatelé k tomu ani nemusí mít “lajknutou” žádnou konkrétní stránku.<br><br>V každém příspěvku je fotka ztraceného mazlíčka, popisek, a kontakt přímo na majitele. Všechny komentáře, stopy a jiné reakce Vám denně posíláme na e-mail.<br><br>V průměru oslovíme kolem 16 000 lidí, ve větších městech až na 1km přesnost.</p>
    </li>
  </ul>
</section>
