<section class="triDuvody">
  <h2><span>3 důvody</span> proč pátrat s námi:</h2>
  <h3>(a v čem je háček)</h3>
  <ul>
    <li>
      <img class="zacatek1" src="/assets/img/zacatek1-min.png" alt="Ilustrace">
      <p>S naší pomocí oslovíte mnohonásobně více lidí, než kdybyste pátrali sami.</p>
      <a href="/procreklamy">Hlavní výhody</a>
    </li>
    <li>
      <img class="zacatek2" src="/assets/img/zacatek2-min.png" alt="Ilustrace">
      <p>Máme vysokou úspěšnost při hledání. Denně pomáháme lidem jako jste Vy.</p>
      <a href="/pribehyostatnich">Reference</a>
    </li>
    <li>
      <img class="zacatek3" src="/assets/img/zacatek3-min.png" alt="Ilustrace">
      <p>Registrace Vám zabere jen pár minut. O vše ostatní se postaráme my.</p>
      <a href="/jaktofunguje">Jak to přesně funguje?</a>
    </li>
  </ul>
  <div class="sipka"></div>
  <div class="hacek">
    <h2>V čem je háček?</h2>
    <p>Naše služba je placená. K pátrání totiž využíváme speciální nástroje <a href="/jaktofunguje">(jaké?)</a>, které samy o sobě něco stojí.<br><br>Vybrat si můžete ze 3 různých cenových balíčků podle svých možností.</p>
    <a class="registrovatZtratu" href="/registrovatztratu"><span>Ceník</span></a>
  </div>
</section>
<section class="faq faqNavic">
  <ul class="otazky">
    <li class="otazka zavreno">
      <h3>Jaký je rozdíl mezi klasickým příspěvkem a naší službou?</h3>
      <p>Používáme speciální marketingové nástroje určené pro firmy, které se většinou snaží prodat nějaký produkt. My však pomocí této strategie hledáme Vaše ztracené mazlíčky. Za tento nástroj sice musíme zaplatit nemalé peníze, ale umožní nám potom naplánovat kampaň přesně podle našich představ, což s normálními příspěvky není možné. Jde například o oslovení lidí v určité lokalitě, kterou si nastavíme, mnohonásobně větší dosah, různé filtry a tak dále. Příspěvky v kampaních však vypadají úplně stejně, jak je znáte. Lidé je mohou likovat, sdílet mezi své známé nebo kometovat.</p>
    </li>
  </ul>
</section>
