.cenoveBalicky {
  width: calc(100% - 20px);
  margin: 0 auto;
  position: relative;

  .pozadi {
    background-image: linear-gradient(154deg, #F9F9F9 0%, #F3F3F3 100%);
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 145px);
    position: absolute;
    top: 0;
    z-index: -1;
  }

  h1 {
    font-family: AvenirBlack;
    font-size: 33px;
    color: #000000;
    text-align: center;
    line-height: 49px;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding-top: 30px;
  }

  p {
    font-family: AvenirMedium;
    font-size: 16px;
    color: #727272;
    text-align: center;
    line-height: 36px;
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .balicky {
    padding: 0;
    margin: 0;

    .balicekOuter {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 50px;

      .balicek {
        background: #FFFFFF;
        box-shadow: 0 7px 17px 0 rgba(0,0,0,0.10);
        border-radius: 10px;
        width: calc(100% - 30px);
        margin: 0 auto;

        .nejprodavanejsi {
          display: block;
          background-image: linear-gradient(154deg, #3D3D3D 0%, #2D2D2D 100%);
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding-bottom: 7px;
          padding-top: 7px;
          text-align: center;
          font-family: AvenirBlack;
          font-size: 12px;
          color: #FFFFFF;
          letter-spacing: 2.35px;
          text-align: center;
          text-transform: uppercase;
        }

        h2 {
          font-family: AvenirHeavy;
          font-size: 36px;
          color: #000000;
          letter-spacing: 0;
          text-align: center;
          margin: 0 auto;
          padding-top: 25px;
          margin-bottom: 11px;
        }

        ul {
          padding: 0;
          margin: 0;
          margin-bottom: 10px;

          li {
            font-family: AvenirMedium;
            font-size: 15px;
            color: #686868;
            text-align: center;
            line-height: 37.88px;
            padding: 0;
            margin: 0;
            list-style: none;
          }
        }

        .cena {
          display: block;
          font-family: AvenirBlack;
          font-size: 41.79px;
          color: #1A1A1A;
          letter-spacing: 0;
          text-align: center;
          margin-bottom: 16px;

          span {
            font-size: 23.76px;
            font-family: AvenirBlack;
          }
        }

        a {
          background-image: linear-gradient(135deg, #FF8D55 0%, #E9214B 100%);
          width: 100%;
          padding-top: 16px;
          padding-bottom: 16px;
          display: block;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          text-align: center;
          font-family: Avenir-Heavy;
          font-size: 20px;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: center;
        }
      }
    }
  }
}

.faq {
  width: calc(100% - 20px);
  margin: 0 auto;
  margin-top: 90px;

  h2 {
    font-family: AvenirRoman;
    font-size: 27px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .otazky {
    padding: 0;
    margin: 0;

    .otazka {
      list-style: none;
      background-image: linear-gradient(154deg, #F9F9F9 0%, #F3F3F3 100%);
      border-radius: 10px;

      h3 {
        margin-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: AvenirMedium;
        font-size: 19px;
        color: #000000;
        line-height: 35px;
        margin-bottom: 0;
        position: relative;
        width: calc(100% - 30px - 40px);
        padding-right: 40px;

        &::after {
          content: " ";
          position: absolute;
          background: url("../img/minus.png") no-repeat;
          width: 20px;
          height: 20px;
          right: 0;
          top: calc((100% - 20px)/2);
          background-size: contain;
          background-position: center;
        }
      }

      p {
        font-family: AvenirRoman;
        font-size: 16px;
        color: #6C6C6C;
        line-height: 36px;
        width: calc(100% - 30px);
        margin: 0 auto;
        padding-bottom: 15px;

        a {
          font-family: AvenirBlack;
          color: #000;
          text-decoration: underline;
        }
      }
    }

    .zavreno {
      p {
        display: none;
      }

      h3 {
        &::after {
          content: " ";
          position: absolute;
          background: url("../img/plus.png") no-repeat;
          width: 20px;
          height: 20px;
          right: 0;
          top: calc((100% - 20px)/2);
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
}
